^resources/ffmpeg/libraries
build/
/dist/
^_support/
nbproject/private/
codesign.properties
/core/nbproject/private/
/plugins/aspell/nbproject/private/
/plugins/autoupdate/nbproject/private/
/plugins/basetextsubs/nbproject/private/
/plugins/coretools/nbproject/private/
/plugins/mplayer/nbproject/private/
/plugins/zemberek/nbproject/private/
/core/target/
/plugins/appenhancer/target/
/plugins/aspell/target/
/plugins/autoupdate/target/
/plugins/basetextsubs/target/
/plugins/coretools/target/
/plugins/mplayer/target/
/plugins/coretheme/target/
/plugins/zemberek/target/
/modules/appenhancer/target/
/modules/aspell/target/
/modules/autoupdate/target/
/modules/basetextsubs/target/
/modules/coretheme/target/
/modules/coretools/target/
/modules/mplayer/target/
/modules/zemberek/target/
/modules/basetextsubs/nbproject/
/modules/core/target/
/modules/installer/target/
resources/i18n/cache
resources/help/cache
