<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Jubler</string>
	<key>CFBundleIconFile</key>
	<string>jubler.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.panayotis.jubler</string>
	<key>CFBundleDisplayName</key>
	<string>Jubler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jubler</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@@VERSION@@</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>Panayotis Katsaloulis</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>JVMMainClassName</key>
	<string>Jubler</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srt</string>
				<string>sub</string>
				<string>ass</string>
				<string>ssa</string>
				<string>stl</string>
				<string>son</string>
				<string>txt</string>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>subtitle.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitle Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
